


html, body {
  margin: 0;
  padding: 0;
  /*vars*/
  --fontsizeTitle:3rem;

  --fontsize:4rem;

}

canvas {
  display: block;
  top: 100px;

}

.red{
  color:red;
}

.oder{
  /* margin-right: 5rem;
  margin-left: 5rem; */
  color:rgb(100,100,100)
}


#sidebar{
  
  border:solid thin red;
  display:none;
  position: fixed;
width:400px;
right:0px;
}

#title{
  margin: auto;
  position: relative;
  font-size:var(--fontsizeTitle); 
  font-family: 'Roboto Mono', monospace;
  display: block;
  margin-top: 5rem;
  text-align: center;

}


#fragenWrapper{
  font-size:var(--fontsize); 
  font-family: 'Roboto Mono', monospace;

  display: block;
 /* position: absolute;
  bottom: 0;*/
  margin-bottom: 5%;
  margin-top: 5%;;
  text-align: center;
 /* margin-left: 5%;*/
 width:100%;
}

#buttons{
  display: block;
}

#fragen{
  margin: auto;
  position: relative;
  display: block;
}

#defaultCanvas0{
  margin: auto;
  margin-top: 5rem;
display: block;
border: solid black;
border-width: 3px;

width: 100%;


}


input,button{
  position:relative;
  z-index: 500;
  right:0px;
}
