html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  top: 100px;

}

.red{
  color:red;
}

#sidebar{
  
  border:solid thin red;
  display:none;
  position: fixed;
width:400px;
right:0px;
}


#fragenWrapper{
  display: block;
  border:solid thin red;
  position: relative;
  width:100vw;
}

#buttons{
  display: block;
}

#fragen{
  position: relative;
  border: solid thin blue;
  font-size: 5rem;
  display: block;
}

#defaultCanvas0{
display: block;
position: absolute;
border: solid thin black;
}

input,button{
  position:relative;
  z-index: 500;
  right:0px;
}
